<fieldset id="conocenos">
    <legend style="color: blue;"> NUESTROS INICIOS </legend>
        <p>
            Veterinaria Mascota Feliz nace, en la ciudad de Medellin como una inicitiva empresarial,
            para dar solucion a las necesidades, cuidados, servicios y tratamiento de las mascotas.<br />
            En cuanto a los clientes con sus requerimientos en el cuidado de la mascota, como de la oferta de productos.

            En la actualidad nuestra compañia se ha posicionado fuertemente en el pais, estando presente en 3 ciudades
            principales,
            las cuales son: <br />

        </p>
</fieldset>
<br/>