<fieldset id="contactanos">
    <legend style="color: blue;">CONTACTANOS</legend>

    <form>

        <ul>
            <li>
                <label>Nombres</label>
                <input type="text" id="ind" />
            </li>
            <li>
                <label>Apellidos</label>
                <input type="text" id="ind" />
            </li>
            <li>
                <label>Celular</label>
                <input type="text" id="ind" />
            </li>
            <li>
                <label>Correo</label>
                <input type="text" id="ind" />
            </li>
            <li>
                <label for="msg">Mensaje:</label>
                <textarea id="ind" name="user_message"></textarea>
            </li>
            <li class="button boton">
                <button type="submit">CONTACTENOS</button>
            </li>
        </ul>
    </form>


</fieldset>
<br /><br />