<nav>
  <div class="nav-wrapper">
    <a routerLink="/inicio" class="brand-logo"><img src="favicon.ico" height="50px" width="50px" alt="site’s logo"
        style="background:rgb(216, 207, 185)" /></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>






  </div>

  <!--------------------------------------------------------->
  <!---------------------------------------------------------->

  <!---------------------------------------------------------->
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="sass.html">Sass</a></li>
  <li><a href="badges.html">Components</a></li>
  <li><a href="collapsible.html">Javascript</a></li>
  <li><a href="mobile.html">Mobile</a></li>
</ul>

<br /><br /><br /><br /><br />