<fieldset id="conocenos">
    <legend style="color: blue;"> MISION </legend>

    <p>
        Nuestra Mision es prestrar los mejores servicios siempre cumpliendo con los estandares nacionales e
        internacionales en el tratamiento y cuidado de las mascotas, ofreciendo servicios de alta calidad, en el
        momento oportuno, como productos veterinarios de los mas altos estandares internacionales y normativas
        colombianas.
        <br />
        En la actualidad nuestra compañia se ha posicionado fuertemente en el pais, estando presente en 3 ciudades
        principales,
        las cuales son: <br />
    </p>

</fieldset>
<br/><br/>