<footer class="page-footer">
    <div class="container">


        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Veterinaria Mascota Feliz</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" routerLink="/veterinaria/mision">Mision</a></li>
            <li><a class="grey-text text-lighten-3" routerLink="/veterinaria/vision">Vision</a></li>
            <li><a class="grey-text text-lighten-3" routerLink="/veterinaria/contactanos">Contactanos</a></li>
            <li><a class="grey-text text-lighten-3" routerLink="/veterinaria/conocenos">Conocenos</a></li>
          </ul>
        </div>
    </div>
    

    <div class="footer-copyright">
        <div class="container">
            © 2021 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>