<fieldset id="conocenos">
    <legend style="color: blue;"> VISION </legend>
    
        <p>
            Para el 2050, posicionarse en el pais como la veterinaria numero 1, del cuidado animal, ademas de
            encontrarse en 5 principales capitales del pais.
            <br /><br />
            En la actualidad nuestra compañia se ha posicionado fuertemente en el pais, estando presente en 3 ciudades
            principales,
            las cuales son: <br />
        </p>
    
</fieldset>
<br/><br/>